<article class="card mb-6">
    <div class="card-content">
        <section class="media">
            <div class="media-content">
                <p class="title is-4 mb-0">{{ article.title }}</p>

                <div class="level mt-0 pt-0">
                    <div class="level-left">
                        <p class="subtitle is-6">{{ article.author.firstName }} {{ article.author.lastName }}</p>
                    </div>
                    <div class="level-right">
                        <div class="tags">
                            {% for tag in article.tags | split(',')%}
                                <span class="tag">{{ tag  }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <p class="mb-5">
                {{ article.shortDescription }}
            </p>

            <div class="level">
                <div class="level-left">
                    <time class="has-text-weight-bold">{{ article.createdAt | date }}</time>
                </div>
                <div class="level-right">
                    <a class="button is-dark" href="/article/view/{{ article.slug }}">Voir l'article</a>
                </div>
            </div>
        </section>
    </div>
</article>