{% extends 'layout.twig' %}

{% block body %}
  <section class="hero is-medium is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Petite phrase d'accroche
        </h1>
        <h2 class="subtitle">
          Phrase qui répond / complète la première
        </h2>
      </div>
    </div>
  </section>
  <section class="container mt-6">
    <div class="columns">
      <section class="column is-5">
        {% if searchTerm == null or searchTerm == ''%}
          <h2 class="title is-3">Articles récents</h2>
        {% else %}
          <h2 class="title is-3 mb-0">
            Recherche: "{{ searchTerm }}"
          </h2>
          <a href="/" class="has-text-small has-text-weight-light has-text-dark pb-4 is-block">Supprimer la recherche</a>
        {% endif %}

        {% for article in articles %}
          {% include 'components/articlePreview.twig' with {'article': article}%}
        {% endfor %}
        <nav class="pagination" role="navigation" aria-label="pagination">
          {% if index > 0 %}
          <a href="/?index={{ index - 1 }}&searchTerm={{ searchTerm }}" class="pagination-previous">Précédent</a>
          {% else %}
          <p class="pagination-previous">Précédent</p>
          {% endif %}

          {% if articles.length > 1 %}
          <a href="/?index={{ index + 1 }}&searchTerm={{ searchTerm }}" class="pagination-next">Suivant</a>
          {% endif %}
        </nav>
      </section>

      <section class="column is-offset-2">
        <h2 class="title is-3">Tags populaires</h2>
        <div class="tags">
          {% for tag in popularTags %}
            {% if tag != '' %}
              <a href="/?searchTerm={{ tag }}" class="tag">{{ tag }}</a>
            {% endif %}
          {% endfor %}
        </div>

        <h2 class="title is-3">Articles populaires</h2>
        {% for article in popularArticles %}
          {% include 'components/articlePreview.twig' with {'article': article}%}
        {% endfor %}
      </section>
    </div>
  </section>
{% endblock %}
