{% extends 'layout.twig' %}

{% block body %}
  <div class="container mt-6">
    <div class="columns">
      <section class="column is-offset-3 is-6">
        <article>
          <h1 class="title is-2 has-text-centered has-font-weight-bold">{{ article.title }}</h1>
          <div id="content" class="content has-text-justified">{{ article.content }}</div>
        </article>
        <section class="mt-6">
          <div class="level">
            <div class="level-left">
              <p class="title is-5">{{ article.author.firstName }} {{ article.author.lastName }}</p>
            </div>
            <div class="level-right">
              <div class="tags">
                {% for tag in article.tags | split(',') %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
        <hr>
        <section class="mt-6">
          <div class="level">
            <div class="level-left">
              <h2 class="title is-3">
                Commentaires
              </h2>
            </div>
            <div class="level-right">
              <a class="button is-danger">
                <span class="icon">
                    <i class="fas fa-heart"></i>
                </span>
                <span>
                    Like
                </span>
              </a>
            </div>
          </div>
        </section>
        <section class="mt-5">
          {% include '../components/comment.twig' %}
          {% include '../components/comment.twig' %}
          {% include '../components/comment.twig' %}
          {% include '../components/comment.twig' %}
          {% include '../components/comment.twig' %}
        </section>
        <form class="mt-5" method="post" action="">
          <h2 class="title is-3">
            Poster un commentaire
          </h2>
          <textarea class="textarea" placeholder="e.g. Hello world"></textarea>
          <button type="submit" class="button is-dark is-fullwidth mt-3">
            <span class="icon">
                <i class="fas fa-paper-plane"></i>
            </span>
            <span>
                Poster
            </span>
          </button>
        </form>
      </section>
    </div>
  </div>
{% endblock %}
